body {
    padding: 25px;
    background-color: #fffbfa;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    font-weight: 600;
}

hr {
    margin: 40px 0;
}

.header {
    text-align: left;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.header h2 {
    font-size: 20px;
    font-weight: bold;
}

span {
    display: inline-block;
    margin-bottom: 0.5em;
}