body {
    padding: 25px;
    background-color: #fffbfa;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    font-weight: 500;
}

hr {
    margin: 40px 0;
}

header {
    text-align: left;
    margin-bottom: 20px;
}

header h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}

header h2 {
    font-size: 20px;
    font-weight: bold;
}

.para p {
    margin-bottom: 20px;
    text-align: justify;
}

ul:not(.nostyle) {
    margin-bottom: 40px;
}

li:not(.nostyle) {
    margin-bottom: 10px;
}

li:not(.nostyle)::before {
    content: "→";
    font-weight: bold;
    margin-right: 10px;

}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.important {
    color: #e3342f;
}

.imglegend {
    font-size: small;
    text-align: left;
    margin-top: 5px;
}

.imgbox {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    width: fit-content;
}

.imgbox img {
    width: 100% !important;
}

.reference {
    color: #458EF7;
    cursor: pointer;
}

.reference:active {
    color: #458EF7;
}

.summary {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    position: sticky;
    top: 10px;
}

.summary h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.summary li {
    font-size: small;
    margin-bottom: 3px;
    color: #458EF7;
}

.summary li:hover {
    text-decoration: underline;
}

.subtitle {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.arrows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 36px;
    width: 100px;
}

.arrows a {
    transition: transform 0.25s;
}

.arrows a:not(.disabled):hover {
    transform: scale(1.3);
}

.disabled, .disabled:hover {
    color: darkgrey;
    cursor: not-allowed;
}